<% content_for :title do %>
    <h1>New Asset</h1>
<% end %>
<% content_for :info do %>
<div class="c_box">
  <p>* means the field is required to continue.</p>
</div>
<% end %>

<div class="g_box_content">

  <div class="form">
    <%= render 'form' %>
  </div>

</div>