body {
    background-color: #333333;
    color: #333;
}
/* header */
#header {
    height: 50px;
    color: #fff;
}
#h_l p {
    font-weight: bold;
}
#h_2 p {
    text-align: right;
}
/* subheader */
#subheader {
    height: 50px;
}
#subheader a {
    color: #cccccc;
}
/* main */
#main {
    border: 2px solid #999999;
    height: 500px;
    background-color: #fff;
    margin-bottom: 30px;
}
/* footer */
#footer {
    height: 50px;
    color: #fff;
}
#footer a {
    color: #cccccc;
}