<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>


<%= link_to 'Edit', edit_inventory_settings_category_path(@category) %> |
<%= link_to 'Back', inventory_settings_categories_path %>
