<div class="ah_box">
  <p>
    <%= image_tag "icons/bunch_of_cool_blue_icons/user.png", :size => "24x24" %>
    Default User
    <span class="ah_box_spacer"> | </span>
    Messages (<span class="ah_box_msg_count">0</span>)
    <span class="ah_box_spacer"> | </span>
    Profile
    <span class="ah_box_spacer"> | </span>
    Logout

  </p>
</div>