<div class="container_12">
  <div id="footer" class="grid_12">
    <div class="grid_10 alpha">
      <p>IMS open source project. Code hosted on <a href="https://github.com/jordano/ims">github</a>. See <%= link_to "copyright", copyrights_path %> notice.</p>
    </div>
    <div class="grid_2 omega">
      <%= image_tag "icons/rails.png", :size => "32x44" %>
      <%= image_tag "icons/1298800573_HTML_Color_Black.png", :size => "48x48" %>
    </div>
  </div>
</div>